.nav-pills .nav-link {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 50%;
    margin-left: 40%;
}
body {
    background-color: #eaf4f4;
}
#container {
    margin-top: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.nav-pills .nav-link.active span {
    display: none;
}

.nav-pills .nav-link.active::before {
    content: "📖";
}
.result {
    background-color: #d1e7dd;
}
